body, html, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2px;
}

#editor {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

