.container {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  grid-template-rows: 100px 32px 1fr;
  gap: 2px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    ". service"
    "models-name service"
    "models service";
}

.models {
  grid-area: models;
}

.service {
  grid-area: service;
}

.models-name {
  grid-area: models-name;
}

.service-name {
  grid-area: service-name;
}

.header {
  grid-area: header;
}

iframe { flex-grow: 1; border: none; margin: 0; padding: 0; }

body, html, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

.service, .models {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /*background-color: blue;*/
  overflow: hidden;
}

.first-row {background-color: lime; }
